<h1>Listing books</h1>

<div>
  <%= form_tag search_books_path, remote: true do %>
    <%= text_field_tag "terms" %>
    <%= submit_tag "Buscar" %>
  <% end %>
</div>

<div id="books">
 <%= render "books" %>
</div>

<br>

<%= link_to 'New Book', new_book_path %>
